@charset "UTF-8";
$bg: #131417;
$darkBlack: #171819;
$black: #1f2229;
$brightBlack: #2c2f3a;
$gray: #80838a;
$white: #e4ecc5;
$blue: #0ebeff;
$brightBlue: #8ee0ff;
$green: #47cf73;
$brightGreen: #8effe0;
$yellow: #f7d51f;
$brightYellow: #ebe772;
$red: #f14f54;
$orange: #f7903e;
$brightRed: #f9575c;

$mainColor: $red;
$brightMainColor: $brightRed;
$componentBg: $black;
$selectedComponent: $brightBlack;
$textColor: #adafbc;
$shadowColor: black;
$borderColor: #464a5270;
$selectionColor: $brightRed;

@mixin anime($duration:0.5s){
  transition: all $duration ease-out;
}


@mixin animation($val) {

  animation:$val;
  -webkit-animation:$val;
  -moz-animation:$val;
}

@mixin swing{
  @keyframes swing {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(10deg);
    }
    30% {
      transform: rotate(0deg);
    }
    40% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    60% {
      transform: rotate(5deg);
    }
    70% {
      transform: rotate(0deg);
    }
    80% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

